.portfolio-container {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.portfolio-projects-frame img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.portfolio-projects-frame img:hover {
  filter: brightness(0.8);
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}
